<?xml version="1.0" ?>
<model>
    <name>tb3_maze_world</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description>A maze world model for using in the Autonomous-Maze-Solving-Turtlebot3-Simulation project.</description>
</model>
